<html>
<head>
    <title>institute project</title>
</head>
<body>
  <h1>well come to NaveenTechnologies pvt lmtd</h1>
  <h2>we provide all skills</h2>
  <h3>it available in maitrivanam</h3>
  <h4>all our students practice very well</h4>
  <h5>list of languages are</h5>
<ol>
    <li>python</li>
    <li>java</li>
    <li>c++</li>
</ol>
  <h4>list of frame works</h4>
<ul>
    <li>django</li>
    <li>flask</li>
    <li>hibarnate</li>
</ul>
  <a href="http//:www.google.com" target="_blank">click here for more</a>
</body>
</html>