#f1{
    border: 2px blue solid;
    background-color: blue;
    margin-bottom: 600px;
    border-radius: 2px;
}
#hd1{
    color: white;
    background-color: white;
}
#f2{
    border-radius: 2px;
    border:2px wheat solid ;
}
