<html>
   <head>
       <title>
           girls data
       </title>
   </head>
<body>
   <div>
       {% if data %}
           <table>
              <thead>
                  <tr>
                      <th>FirstName</th>
                      <th>LastName</th>
                      <th>MobileNumber</th>
                      <th>EmailId</th>
                      <th>Job</th>
                  </tr>
              </thead>
           {% for i in data %}
                 <tbody>
                      <tr>
                          <td>{{ i.firstname }}</td>
                          <td>{{ i.lastname }}</td>
                          <td>{{ i.mobile }}</td>
                          <td>{{ i.email }}</td>
                          <td>{{ i.job }}</td>
                      </tr>
                 </tbody>
           {% endfor %}
           </table>
       {% endif %}
   </div>
</body>
</html>