<html>
    <head>
        <title>LoginForm</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        form{
            padding: 10px;
            margin: 20px;
            background: deeppink;
            border-radius: 10px;
            border-bottom-color: brown;

        }
        a{
            margin: 20px;
        }
        h1{
            font-family: Arial;
            font-size: 30px;
        }
    </style>

    </head>
<body>
     <div class="container">
         <div class="row">
             <div class="col-md-offset-6 col-md-6">
                 <form method="post">
                     <center><h1>Login Here</h1></center>
                     {% csrf_token %}
                     {{ lform }}<br>
                     <center>
                     <input type="submit" value="SignIn" class="btn btn-success">
                     <input type="reset" value="clear" class="btn btn-danger">
                     </center>
                     <a href="/reg/">New User?</a>
                     <a href="/frgtp/">Forget Password</a>
                 </form>
             </div>
         </div>
     </div>
</body>
</html>