<html>
   <head>
       <title>welcome to matrymoni registration</title>
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <style>
       form{
           background-color: gold;
           border-radius: 10px;
       }
       h1{
           font-family:  "Monotype Corsiva";
           color: white;
           background-color: deeppink;
           margin-left: 130px;
           margin-right: 130px;
           margin-top: 5px;
       }
   </style>
   </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    <center><h1>Registration Form</h1></center>
                    {% csrf_token %}
                    {{ rform }}<br>
                    <center>
                    <input type="submit" value="submit" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger">
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>