<!to load the images from static folder>
{% load static %}
<html>
    <head>
        <title>Gallery Page</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      ol{
            list-style-type: none;
            float: right;
        }
        ol li{
            display: inline-block;
        }
        ol li a{
            padding: 5px 2px;
            text-decoration: none;
            font-size: 20px;
            border: 1px solid white;
            color: #ffffff;
        }
        ol li a:hover{
            background-color:papayawhip;
            color: rosybrown;
        }
        body{
            background-color: powderblue;
        }

     </style>
    </head>
<body background="E:\dj12pmfolder\instituteproject\static\images\pic1.jpg">
<header>
    <ol>
        <li><a href="/home/">Home</a> </li>
        <li><a href="/services/">Services</a> </li>
        <li><a href="/contact/">Contact</a> </li>
        <li><a href="/feedback/">Feedback</a> </li>
        <li><a href="/gallary/">Gallary</a> </li>
    </ol>
</header>
   <center><h2>Gallery Page</h2></center>
    <div class="container">
       <div class="row">
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic1.jpg' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic3.png' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
       </div>
        <div class="row">
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic3.jpg' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic4.jpg' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
       </div>
        <div class="row">
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic5.jpg' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic6.jpg' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
       </div>
        <div class="row">
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic7.jpg' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
           <div class="col-md-4">
               <div class="thumbnail">
                   <img src="{% static 'images/pic8.jpg' %}" alt="pic is missed"
                        style="width: 100%;height: 40%">
               </div>
           </div>
       </div>
   </div>
</body >
</html>