<html>
<head>
    <title style="color: darkgrey">welcome to gender project</title>
    <style>
        a{
            margin: 100px;
            font-size: 20px;
            color: dodgerblue;
        }
        h1{
            color: chocolate;
            font-family: Chiller;
            font-size: 40px;
            background-color: ghostwhite;
            margin: 100px 450px;
        }
        body{
            background-repeat: no-repeat;
        }
    </style>
</head>
<body bgcolor="#ffe4c4">
<center>
<h1>welcome to Gender Information</h1>
    </center>
   <center><a href="/boys">Boys</a>
           <a href="/girls">Girls</a>
   </center>
</body>
</html>