<html>
<head>
    <title>girls Information pro</title>
    <style>
        h1{
            background: bisque;
            color: chocolate;
            margin: 50px 100px;
            font-family: "Britannic Bold";
        }
        th{
            padding: 20px;
        }
        td{
            padding: 10px;
        }
    </style>
</head>
<body>
<center>  <h1>girls Information</h1></center>
<center>
<table border="3">
    <thead>
    <th>Name</th>
    <th>Loc</th>
    <th>Fee</th>
    <th>PhoneNo</th>
    </thead>
    <tr>
        <td>Naveena</td>
        <td>Hyd</td>
        <td>1000</td>
        <td>7893882505</td>
    </tr>
    <tr>
        <td>Kalyani</td>
        <td>Bang</td>
        <td>2000</td>
        <td>9440963931</td>
    </tr>
    <tr>
        <td>Rajee</td>
        <td>pune</td>
        <td>2500</td>
        <td>7893250589</td>
    </tr>
</table>
</center>
<center>
<a href="/#">back</a>
</center>
</body>
</html>