<html>
   <head>
       <title>Feedback Form</title>
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

   <style>
       h5,h4{
           font-family: cursive;
           font-size: 15px;
           font-style: italic;
           color: chocolate;
       }
       b{
           font-style: oblique;
           font-size: medium;
           fill: chocolate;
       }
   </style>
   </head>
<body>
     <div class="container">
         <div class="row">
             <div class="col-md-offset-6 col-md-4">
                 <form method="post">
                     <h5>Your feed back</h5>
                     {% if fao %}
                         {% for i in fao %}
                              <b>Name: {{ i.name }}</b><br>
                              Rating:  {{ i.rating }}<br>
                              Time:    {{ i.time }}<br>
                              Feedback:{{ i.feedback }}<br>
                         {% endfor %}
                     {% endif %}

                 </form>

             </div>

         </div>


         <div class="row">
             <div class="col-md-offset-6 col-md-4">
                 <form method="POST">
                     <h4>Write your feed back Here....!</h4>
                     {% csrf_token %}
                 {{ form }}
                     <center>
                 <input type="submit",value="submit",class="btn btn-success">
                 <input type="reset",value="clear",class="btn btn-danger">
                   </center>
                 </form>
             </div>
         </div>
     </div>
</body>
</html>