<html>
<head>
    <title style="color: blueviolet">welcome to student project</title>
    <style>
        h1{
            color: darkseagreen;
            font-family: Century;
            fill: darkseagreen;
        }
        th,td{
            padding:10px;

        }

    </style>
</head>
<body>
     <center><h1>welcome to student information</h1></center>
     <center>
<table border="2">
    <thead>
    <tr>
        <th>SNO</th>
        <th>Name</th>
        <th>Loc</th>
        <th>Fee</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Naveenkumar</td>
        <td>Hyd</td>
        <td>1500</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Raj</td>
        <td>Chennai</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ramesh</td>
        <td>bag</td>
        <td>3000</td>
    </tr>
    </tbody>
</table>
</center>
</body>
</html>