<html>
     <head>
         <title>Delete page</title>
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
     <style>
         #btns{
             margin-left: 100px;
         }
       form{
           text-align: center;
           margin-top: 250px;
       }
     </style>
     </head>
 <body>
     <form method="post">
         {% csrf_token %}
         <b>Product Id</b>{{ form.product_id }}<br>
         <input type="submit" value="Delete" class="btn-success" id="btns">
     </form>
 </body>
</html>