<html>
   <head>
       <title>
           Products in Databases
       </title>
   </head>
<body>
   {% if form %}
       <table border="2">
           <thead>
              <tr>
                  <th>ProductName</th>
                  <th>ProductId</th>
                  <th>ProductColor</th>
                  <th>ProductWeight</th>
                  <th>ProductCost</th>
              </tr>
           </thead>
       {% for data in form %}
           <tbody>
           <tr>
               <td>{{ data.product_name }}</td>
               <td>{{ data.product_id }}</td>
               <td>{{ data.product_color }}</td>
               <td>{{ data.product_weight }}</td>
               <td>{{ data.product_cost }}</td>
           </tr>
           </tbody>

       {% endfor %}
       </table>
   {% endif %}
</body>
</html>