<html>
   <head>
       <title>
           welcome to Insert the product details
       </title>
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <style>
       form{
           text-align: center;
       }
   </style>

   </head>
<body>
    <h1>Insert ProductDetails</h1>
      <form method="post">
          {% csrf_token %}
          ProductName{{ form.product_name }}<br>
          ProductId{{ form.product_id }}<br>
          ProductCost{{ form.product_cost }}<br>
          ProductColor{{ form.product_color }}<br>
          Productweight{{ form.product_weight }}<br>
          <input type="submit" value="Submit" class="btn btn-success">
          <input type="reset" value="clear" class="btn btn-danger">
      </form>
</body>
</html>